<p id="notice"><%= notice %></p>

<div class="contact-data">
  <div class="contact-name">
    <strong>Name:</strong>
    <%= @contact.name %>
  </div>
  <div class="contact-email">
    <strong>Email:</strong>
    <%= @contact.email %>
  </div>
  <div class="contact-phone">
    <strong>Phone:</strong>
    <%= @contact.phone %>
  </div>
  <div>
    <strong>Client:</strong>
    <%= link_to @contact.client.name, @contact.client %>
  </div>
</div>




<div class="footer-contact">
  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Back', contacts_path %>
</div>
