<!DOCTYPE html>
<html>
  <head>
    <title>TesteCustomerx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5dc483eb7d.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/clients">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clients">clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/report">relatórios</a>
        </li>
      </ul>
    </nav>
    <p class="apresentation"> Bem vindo ao <b>TesteCustomerx </p>
    <%= yield %>   
    <footer class="page-footer font-small special-color-dark pt-4">
      <div class="container">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright text-center py-3">© 2020 Copyright TesteCustomerx.com
      </div>
    </footer>    
  </body>
</html>
